* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    color:rgba(16, 18, 155, 0.521);
}

h2 {
    font-size: 30px;
}

h4 {
    color: #616060;
}

p {
    color: #858484;
}

.box {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    margin-top: 80px;
    align-items:center;
    text-align: center;
    color:rgba(16, 18, 155, 0.521);
}

.box2 {
    display: flex;
    gap: 100px;
    align-items:center;
    justify-content: center;
    margin-top: 60px;
}

.car-box {
    width: 170px;
    height: 170px;
    border: 1px solid rgb(141, 138, 138);
    text-align: center;
}

.img_airplane {
    width: 89px;
    height: 89px;
}

.man-img {
    margin-top: 18px;
}

.bicycle-img {
    margin-top: 25px;
}